@model PaginatedList<IonosLedWebMvc.Ver2.Models.Entities.LedLamp>

@{
    ViewData["Title"] = "IndexLamps";
}

<h2>Список светильников</h2>
<hr />


<form asp-action="IndexGetPost">
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label for="startDate" class="control-label fb">Начало периода:</label>
            <input name="startDate" class="form-control" value="@ViewBag.StartDate"
                    type="datetime-local"
                    min="2020-01-01T00:00"
                    max="2030-01-01T00:00"  />
        </div>

        <div class="col-auto">
            <label for="endDate" class="control-label fb">Конец периода:</label>
            <input name="endDate" class="form-control" value="@ViewBag.EndDate"
                    type="datetime-local"
                    min="2020-01-01T00:00"
                    max="2030-01-01T00:00" />
        </div>

        <div class="col-auto">
            <label for="employeeName" class="control-label fb">Сотрудник:</label>
            <select name="employeeName" class="form-select">
                @foreach (string emp in ViewBag.AllEmployees) {
                    <option value="@emp">@emp</option>
                }
            </select>
        </div>

        <div class="col-auto">
            <label for="modelName" class="control-label fb">Модель светильника:</label>
            <select name="modelName" class="form-select">
                @foreach (string lampModel in ViewBag.AllModels) {
                    <option value="@lampModel">@lampModel</option>
                }
            </select>
        </div>

        <div class="col-auto" >
            <div class="form-check" style="margin-top:20px">
                <input id="checkToday" class="form-check-input" name="checkToday" type="checkbox" value="true" @(ViewBag.Check ? "checked" : "")>
                <label class="form-check-label fb" for="checkToday">
                    За текущий день
                </label>
            </div>
        </div>

    </div>


    <div class="row gy-2 gx-3 align-items-center" style="margin-top:6px;">
        <div class="col-auto" style="margin-top:6px">
        <label class="fb">
            Фильтр операций: 
        </label>

            <div class=" border rounded-2" style="padding:6px;padding-left:28px;padding-right:20px;">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="allCheck" name="SelectedOperation" value="all" @(ViewBag.SelectedOperation == "all" ? "checked" : "")>
                    <label class="form-check-label" for="allCheck">Все</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="printCheck" name="SelectedOperation" value="print" @(ViewBag.SelectedOperation == "print" ? "checked" : "")>
                        <label class="form-check-label" for="printCheck">Печать</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cutCheck" name="SelectedOperation" value="cut" @(ViewBag.SelectedOperation == "cut" ? "checked" : "")>
                        <label class="form-check-label" for="cutCheck">Нарезка</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="drillCheck" name="SelectedOperation" value="drill" @(ViewBag.SelectedOperation == "drill" ? "checked" : "")>
                        <label class="form-check-label" for="drillCheck">Сверление</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="mountCheck" name="SelectedOperation" value="mount" @(ViewBag.SelectedOperation == "mount" ? "checked" : "")>
                        <label class="form-check-label" for="mountCheck">Монтаж</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="solderCheck" name="SelectedOperation" value="solder" @(ViewBag.SelectedOperation == "solder" ? "checked" : "")>
                        <label class="form-check-label" for="solderCheck">Пайка</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="assemblyCheck" name="SelectedOperation" value="assembly" @(ViewBag.SelectedOperation == "assembly" ? "checked" : "")>
                        <label class="form-check-label" for="assemblyCheck">Сборка</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="packegCheck" name="SelectedOperation" value="packeg" @(ViewBag.SelectedOperation == "packeg" ? "checked" : "")>
                        <label class="form-check-label" for="packegCheck">Упаковка</label>
                </div>

            </div>
        </div>
        <div class="col-auto">
            <input type="hidden" name="pageNumber" value="1" />
        </div>
        <div class="col-auto">
            <label for="recordsCount" class="control-label fb">Число записей на стрaнице:</label>
            <input name="recordsCount" class="form-control"
                   type="number" min="1" value="@ViewData["RecordsCount"]" />
        </div>

        <div class="col-auto" style="margin-top:30px">
            <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i> Применить</button>
        </div>

    </div>

</form>

<form asp-action="IndexGetPost" class="row gy-2 gx-3 align-items-center">

    <div class="col-auto" style="margin-top:10px;font-weight:600">
        <label for="bitrixSearch" class="control-label">Bitrix номер:</label>
        <input name="bitrixSearch" class="form-control"
               type="number" min="1" />
    </div>

    <div class="col-auto">
        <input name="recordsCount" class="form-control"
               type="hidden" min="1" value="@ViewData["RecordsCount"]" />
    </div>

    <div class="col-auto" style="margin-top: 30px">
        <button type="submit" class="btn btn-dark"> <i class="bi bi-search"></i> Искать</button>
    </div>
</form>

<hr />


@if (Model == null) {
    <h4 style="color: red">Некорректные значения фильтра. Дата начала периода не может быть больше даты конца периода.</h4>
}
else if (Model.IsFirstEnter && ViewBag.BitrixNum == null) {

}
else {
    <div style="display:inline">
        <div style="color:blue; font-size:18px; float:left">
            Число полученных записей: @ViewBag.TotalRecords шт. @(ViewBag.BitrixNum != null ? $" для номера Bitrix = {ViewBag.BitrixNum}" : "")
        </div>

       @*  Пагинация  *@
        <div style="float:right;">
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link" asp-route-pageNumber="1"
                           asp-route-startDate="@ViewBag.StartDate"
                           asp-route-endDate="@ViewBag.EndDate"
                           asp-route-employeeName="@ViewBag.EmployeeName"
                           asp-route-modelName="@ViewBag.ModelName"
                           asp-route-recordsCount="@ViewData["RecordsCount"]"
                           asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                           asp-route-bitrixSearch="@ViewBag.BitrixNum"
                           asp-route-orderSerial="@ViewData["CurrentSort"]">
                            <span>Первая</span>
                        </a>
                    </li>
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-startDate="@ViewBag.StartDate"
                           asp-route-endDate="@ViewBag.EndDate"
                           asp-route-employeeName="@ViewBag.EmployeeName"
                           asp-route-modelName="@ViewBag.ModelName"
                           asp-route-recordsCount="@ViewData["RecordsCount"]"
                           asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                           asp-route-bitrixSearch="@ViewBag.BitrixNum"
                           asp-route-orderSerial="@ViewData["CurrentSort"]">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                    </li>
                    @{
                        int leftEnd = Model.TotalPages > 4 ? 4 : Model.TotalPages;
                        int rightStart = Model.TotalPages > 8 ? Model.TotalPages - 3 : 5;

                    }
                    @for (int i = 1; i <= leftEnd; i++) {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" asp-route-pageNumber="@i"
                               asp-route-startDate="@ViewBag.StartDate"
                               asp-route-endDate="@ViewBag.EndDate"
                               asp-route-employeeName="@ViewBag.EmployeeName"
                               asp-route-modelName="@ViewBag.ModelName"
                               asp-route-recordsCount="@ViewData["RecordsCount"]"
                               asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                               asp-route-bitrixSearch="@ViewBag.BitrixNum"
                               asp-route-orderSerial="@ViewData["CurrentSort"]">
                            @i</a>
                    </li>
                    }
                    @if (Model.TotalPages > 8) {
                        <li class="page-item">
                            <a class="page-link">...</a>
                        </li>
                        <li class="page-item @(Model.PageIndex > 4 && Model.PageIndex <  Model.TotalPages - 3 ? "active" : "")">
                            <a class="page-link">@(Model.PageIndex <= leftEnd ? leftEnd + 1 : Model.PageIndex >= rightStart ? rightStart - 1 : Model.PageIndex)</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">...</a>
                        </li>
                    }
                    @for (int i = rightStart; i <= Model.TotalPages; i++) {
                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                            <a class="page-link" asp-route-pageNumber="@i"
                               asp-route-startDate="@ViewBag.StartDate"
                               asp-route-endDate="@ViewBag.EndDate"
                               asp-route-employeeName="@ViewBag.EmployeeName"
                               asp-route-modelName="@ViewBag.ModelName"
                               asp-route-recordsCount="@ViewData["RecordsCount"]"
                               asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                               asp-route-bitrixSearch="@ViewBag.BitrixNum"
                               asp-route-orderSerial="@ViewData["CurrentSort"]">
                            @i</a>
                        </li>
                    }
                    

                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" asp-route-pageNumber="@(Model.PageIndex + 1)" 
                           asp-route-startDate="@ViewBag.StartDate"
                           asp-route-endDate="@ViewBag.EndDate"
                           asp-route-employeeName="@ViewBag.EmployeeName"
                           asp-route-modelName="@ViewBag.ModelName"
                           asp-route-recordsCount="@ViewData["RecordsCount"]"
                           asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                           asp-route-bitrixSearch="@ViewBag.BitrixNum"
                           asp-route-orderSerial="@ViewData["CurrentSort"]">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </li>
                    <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-route-pageNumber="@Model.TotalPages"
                           asp-route-startDate="@ViewBag.StartDate"
                           asp-route-endDate="@ViewBag.EndDate"
                           asp-route-employeeName="@ViewBag.EmployeeName"
                           asp-route-modelName="@ViewBag.ModelName"
                           asp-route-recordsCount="@ViewData["RecordsCount"]"
                           asp-route-SelectedOperation="@ViewBag.SelectedOperation"
                           asp-route-bitrixSearch="@ViewBag.BitrixNum"
                           asp-route-orderSerial="@ViewData["CurrentSort"]">
                            <span>Последняя</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    if (ViewBag.BitrixNum == null && Model.Items.Count > 0) {
    <table class="table table-bordered align-content-center table-sm" style="font-size:14px">
        <thead>
            <tr>
                    <th>
                    <a asp-action="IndexGetPost" style="font-weight:700"
                           asp-route-orderSerial=@ViewData["NameSortParam"]
                           asp-route-startDate="@ViewBag.StartDate"
                           asp-route-endDate="@ViewBag.EndDate"
                           asp-route-employeeName="@ViewBag.EmployeeName"
                           asp-route-modelName="@ViewBag.ModelName"
                           asp-route-recordsCount="@ViewData["RecordsCount"]"
                           asp-route-SelectedOperation="@ViewBag.SelectedOperation">

                            Сер.№ <i class="bi bi-arrow-@(string.IsNullOrEmpty(ViewData["CurrentSort"]?.ToString()) ? "up" : "down")"></i>
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LampDto.Spec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LampDto.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LampDto.BitrixOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LampDto.Comment)
                </th>
                    @if (ViewBag.SelectedOperation == "print" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LabelPrintTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LabelPrintUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "cut" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.AlProfileCutTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.CutUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "drill" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.AlProfileDrillTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.DrillUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "mount" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LedModuleMountingTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.MountingUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "solder" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LightSolderingTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.SolderingUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "assembly" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LightAssemblingTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.AssemblingUser)
                        </th>
                    }
                    @if (ViewBag.SelectedOperation == "packeg" || ViewBag.SelectedOperation == "all") {
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.LightCheckingPackagingTs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LampDto.CheckingPackagingUser)
                        </th>
                    }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BitrixOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                        @if (ViewBag.SelectedOperation == "print" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.LabelPrintTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabelPrintUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "cut" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.AlProfileCutTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CutUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "drill" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.AlProfileDrillTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DrillUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "mount" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.LedModuleMountingTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MountingUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "solder" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.LightSolderingTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SolderingUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "assembly" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.LightAssemblingTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssemblingUser.Name)
                            </td>
                        }
                        @if (ViewBag.SelectedOperation == "packeg" || ViewBag.SelectedOperation == "all") {
                            <td>
                                @Html.DisplayFor(modelItem => item.LightCheckingPackagingTs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckingPackagingUser.Name)
                            </td>
                        }


                </tr>
            }
        </tbody>
        </table>
    }
    else if (ViewBag.BitrixNum != null) {
        <table class="table table-bordered align-content-center table-sm">
            <thead>
                <tr>
                    <th>
                        Сер.№
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.Spec)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.LabelPrintTs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.LabelPrintUser)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.LightCheckingPackagingTs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LampDto.CheckingPackagingUser)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Spec)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model.ModelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LabelPrintTs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LabelPrintUser.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LightCheckingPackagingTs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckingPackagingUser.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

