@using IonosLedWebMvc.Ver2.Infrastructure
@model EmployeeWithUserAuth

@{
    ViewData["Title"] = "IndexEmployeePage";
}

<h2>Список сотрудников</h2>
@if (ViewData["UserActionResult"] != null) {
    <div class="alert-good fix-btn-create" style="background-color: @(ViewData["UserActionResult"].ToString().StartsWith(ViewData["OK"].ToString()) ? " forestgreen" : "indianred")">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>@ViewData["UserActionResult"]</strong>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Создать <i class="bi bi-person-plus"></i> </a>
</p>

@* Модальное окно для подтверждения удаления *@
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form asp-action="DeleteConfirmed" method="post" class="modal-content">
        <div class="container-modal">
            <h1 style="color:darkred">Удаление сотрудника</h1>
            <p>Вы уверены, что хотите удалить сотрудника </p>

            <input id="asp-del-js" type="hidden" name="id">
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-secondary">Отмена</button>
                <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </form>
</div>


<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'EmployeesTab')">Сотрудники</button>
    <button class="tablinks" onclick="openCity(event, 'UserAuthListTab')">Пользователи "ИОНОС УП"</button>
    <button class="tablinks" onclick="openCity(event, 'AccessTab')">Контроль доступа</button>
</div>

<div id="EmployeesTab" class="tabcontent" style="display:block;">
    @if (Model.EmployeeList != null) {
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpDto.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpDto.Pin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpDto.RoleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpDto.Status)
                    </th>
                    <th>
                        Действие
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            ****
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td style="font-weight:600">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" title="Детали"><i class="bi bi-ticket-detailed"></i> Детали</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary width-btn" title="Изменить"><i class="bi bi-pencil-fill"></i></a> |

                            @*                     <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger width-btn" title="Удалить"> <i class="bi bi-trash-fill"></i></a> *@
                            <button onclick="passEmployee('@item.Name', '@item.Id')" class="btn btn-danger width-btn" title="Удалить"> <i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<div id="UserAuthListTab" class="tabcontent">
    @if (Model.UserAuthList != null) {
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.AvatarImg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.ProdGroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.URole)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.RegisterDate)
                    </th>
                    <th>
                        Действие
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserAuthList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvatarImg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.URole)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            <a href="#" class="btn btn-secondary" title="Детали"><i class="bi bi-ticket-detailed"></i> Детали</a> |
                            <a href="#" class="btn btn-primary width-btn" title="Изменить"><i class="bi bi-pencil-fill"></i></a> |

                            @*                     <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger width-btn" title="Удалить"> <i class="bi bi-trash-fill"></i></a> *@
                            @* <button onclick="passEmployee('@item.Name', '@item.Id')" class="btn btn-danger width-btn" title="Удалить"> <i class="bi bi-trash-fill"></i></button> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div id="AccessTab" class="tabcontent">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserAuthWithAccessDto.Username)
                </th>
                <th>
                   Помещение1
                </th>
                <th>
                    Помещение2
                </th>
                <th>
                    Помещение3
                </th>
                <th>
                    Помещение4
                </th>
                <th>
                    Помещение5
                </th>
                <th>
                    Помещение6
                </th>
                <th>
                    Помещение7
                </th>
                <th>
                    Помещение8
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserAuthList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    @foreach (var acc in item.RoomAccesses) {
                        <td>
                            @Html.DisplayFor(modelItem => acc)
                        </td>
                    }
                    <td>
                        <a href="#" class="btn btn-outline-primary">Изменить</a> |
                        <a href="#" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
