@using System.Text
@model StatisticModel

@{
	ViewData["Title"] = "IndexStatistics";
}
<!DOCTYPE html>
<html>
<script src="https://www.gstatic.com/charts/loader.js"></script>

@{
	string arrAsStr = "";
	if (Model.DateToCountDict == null || Model.DateToCountDict.Count == 0) {
		arrAsStr = "[0, 0]";
	} else {
		var sb = new StringBuilder();
		foreach (var item in Model.DateToCountDict) {
			sb.Append($"[new Date({item.Key.Year}, {item.Key.Month}, {item.Key.Day}), {item.Value}],");
		}
		arrAsStr = sb.ToString();
	}

	string arrModelsAsStr = "";
	var arrModel = new List<string>();
	var arrCount = new List<int>();
	if (Model.LampModelToCountDict == null || Model.LampModelToCountDict.Count == 0) {
		arrModelsAsStr = "['0', 0]";
	}
	else {
		foreach (var item in Model.LampModelToCountDict) {
			arrModel.Add(item.Key);
			arrCount.Add(item.Value);
		}

	}

}

<div class="container">
	<div class="text-center">
		<h1 class="display-4" style="color: darkblue; font-weight:400">Статистика производства</h1>

			
		<h4>Временной интервал(от текущего числа) для расчета статистики</h4>
		<form asp-action="Index">
			<div class="slidecontainer">
				<input type="range" min="0" max="4" value="@ViewData["SelectedRange"]" class="slider" id="myRange" name="selectedRange">
				<span>
					0<span id="demo">
						<span class="span-margin">
							1 мес<span id="demo">
								<span class="span-margin">
									3 мес<span id="demo">
										<span class="span-margin">
											6 мес<span id="demo">
												<span class="span-margin">
													1 год<span id="demo">
			</div>
			<button type="submit" class="btn btn-primary">Применить</button>
		</form>
	</div>



	<div id="myChart2" style="width:100%; max-width:1200px; height:600px;"></div>
	<hr />
	<div class="text-center">
		<h4>Гистограмма популярности моделей</h4>
		<div id="myChart" style="width:100%; max-width:1200px; height:600px;"></div>
	</div>


	<script>
		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

			// Set Data
			const data = google.visualization.arrayToDataTable([
				['Модель', 'шт.'],
				["@arrModel[0]", @arrCount[0]],
				["@arrModel[1]", @arrCount[1]],
				["@arrModel[2]", @arrCount[2]],
				["@arrModel[3]", @arrCount[3]],
				["@arrModel[4]", @arrCount[4]],
				["@arrModel[5]", @arrCount[5]],
				["@arrModel[6]", @arrCount[6]],
				["@arrModel[7]", @arrCount[7]],
			]);

			// Set Options
			const options = {
				title: 'Рейтинг популярности моделей светильников'
			};

			// Draw
			const chart = new google.visualization.BarChart(document.getElementById('myChart'));
			chart.draw(data, options);

		}

		google.charts.load('current', { packages: ['corechart'] });
		google.charts.setOnLoadCallback(drawChart2);

		function drawChart2() {


			// Set Data
			const data = google.visualization.arrayToDataTable([
					['День', 'Количество'],
				 @arrAsStr
		]);

			// Set Options
			const options = {
				title: 'Динамика производства',
				hAxis: { 
					title: 'рабочие дни c @ViewData["StartDate"] по @ViewData["EndDate"]',
					},
				vAxis: { title: 'Количество светильников(шт)' },
				legend: 'none',
				pointSize: 6,
				pointShape: 'circle'
			};

			// Draw
			const chart = new google.visualization.LineChart(document.getElementById('myChart2'));
			chart.draw(data, options);

		}

	</script>

</div>
</html>



