@model IonosLedWebMvc.Ver2.Dtos.LampModelDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LampModelDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolderPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolderPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
