@model IEnumerable<IonosLedWebMvc.Ver2.Dtos.LampModelDto>

@{
    ViewData["Title"] = "IndexLampModel";
}

<h2>Перечень моделей светильников со стоимостью работ (руб.)</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую модель</a>
</p>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CutPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssemblyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountReleased)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckPrice)
            </td>
                <td style="font-weight:600; color:darkblue">
                    @Html.DisplayFor(modelItem => item.CountReleased)
                </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" title="Детализация">
                        <i class="bi bi-ticket-detailed"></i> Детали
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm width-btn" title="Редактировать">
                        <i class="bi bi-pencil-fill"></i>
                    </a> |

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm width-btn" title="Удалить">
                        <i class="bi bi-trash-fill"></i>
                        </a>
            </td>
        </tr>
}
    </tbody>
</table>
