@model IonosLedWebMvc.Ver2.Dtos.RoleDto

@{
    ViewData["Title"] = "DeleteRole";
}

<h1>Вы уверены, что хотите удалить данную роль?</h1>

<div>
    <h4>Данные:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionSettings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionSettings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionAlProfileCut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionAlProfileCut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionAlProfileDrill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionAlProfileDrill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionLedModuleMounting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionLedModuleMounting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionLightSoldering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionLightSoldering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionLightAssembling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionLightAssembling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionLightCheckingPackaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionLightCheckingPackaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionChiefLightProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionChiefLightProduction)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
