
@model List<IonosLedWebMvc.Ver2.Dtos.LedLampDto>

@{
    ViewData["Title"] = "IndexSalary";
}

<h2 style="color:darkgreen">Расчёт зарплат сотрудников</h2>
<hr />


<form asp-action="Index" class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label for="startDate" class="control-label">Начало периода</label>
        <input name="startDate" class="form-control" value="@ViewBag.StartDate"
               type="datetime-local" min="2020-01-01T00:00" max="2030-01-01T00:00" />
    </div>

    <div class="col-auto">
        <label for="endDate" class="control-label">Конец периода</label>
        <input name="endDate" class="form-control" value="@ViewBag.EndDate"
               type="datetime-local" min="2020-01-01T00:00" max="2030-01-01T00:00" />
    </div>

    <div class="col-auto">
        <label for="employeeName" class="control-label">Сотрудник</label>
        <select name="employeeName" class="form-select">
            @foreach (string emp in ViewBag.AllEmployees) {
                <option value="@emp">@emp</option>
            }
        </select>
    </div>

    <div class="col-auto" style="margin-top: 28px">
        <button onclick="givMeLoader()" type="submit" class="btn btn-primary" title="Рассчитать зарплату">Рассчитать <i class="bi bi-calculator"></i></button>
    </div>

</form>

<hr />
<div class="loader container" style="display:none"></div>

@if (Model == null) {
    <h4 class="calc-result-view" style="color: red">Некорректные значения фильтра. Дата начала периода не может быть больше даты конца периода. Период для расчета не должен привышать 2-ух месяцев.</h4>
}
else if (Model.Count == 0 && ViewBag.EmployeeName == null) {
    
}
else if (Model.Count == 0) {
    <h4 class="calc-result-view" style="color: darkblue">Записей не найдено.</h4>
}
else {
    <div class="calc-result-view">
        <dl class="row">
            <dt class="col-sm-2">
                Число записей:
            </dt>
            <dd class="col-sm-10" style="font-weight:600; font-size:1.1em; color:blue">
                @ViewBag.TotalRecords шт.
            </dd>
        
            @if (ViewBag.ShowLampsWithoutModel == 1) {
                <dt class="col-sm-2">
                    Число записей без модели:
                </dt>
                <dd class="col-sm-10" style="font-weight:600; font-size:1.1em;color:red">
                    @ViewBag.TotalRecordsWithoutModel шт.
                </dd>
            }
        
            @if (ViewBag.TotalRecords > 200) {
                <dt class="col-sm-2">
                    Отображено: 
                </dt>
                <dd class="col-sm-10" style="font-weight:600; font-size:1.1em;">
                    200 шт.
                </dd>
            }
        </dl>
        @if (!string.IsNullOrEmpty(ViewBag.EmployeeName))
        {
            <div class="border-style">
                <h6 style="color:green; font-size:18px">Зарплата сотрудника с @ViewBag.StartDateG по @ViewBag.EndDateG:</h6>
                <div>
                    <span><b>@ViewBag.AmployeeAndSalary.Name : </b></span> <button>@ViewBag.AmployeeAndSalary.Salary руб.</button>
                </div>
                
                @Html.RouteLink("Выгрузить детализацию в Excel файл", new { controller = "Salary", action = "DownloadFile", fileName = @ViewBag.EmployeeName }, new { id = "sam", @class = "btn btn-primary min-margin-top" })

                @if (ViewBag.ShowLampsWithoutModel == 1) {
                    @Html.RouteLink("Показать записи без указанной модели", new { controller = "Salary", action = "Index",
                            startDate = @ViewBag.StartDateG,
                            endDate = @ViewBag.EndDateG,
                            employeeName = @ViewBag.EmployeeName,
                            showLampsWithoutModel = ViewBag.ShowLampsWithoutModel
                        },
                            new { id = "sam", @class = "btn btn-danger min-margin-top" }   )
                    @Html.RouteLink("К списку", new
                        {
                            controller = "Salary",
                            action = "Index",
                            startDate = @ViewBag.StartDateG,
                            endDate = @ViewBag.EndDateG,
                            employeeName = @ViewBag.EmployeeName
                        },
                             new { id = "sam", @class = "btn btn-outline-primary mstart-5 min-margin-top" })
                }
            </div>
        }
    </div>

    <table class="table table-bordered align-content-center table-sm calc-result-view" style="font-size:14px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Spec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].BitrixOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LabelPrintTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LabelPrintUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AlProfileCutTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CutUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AlProfileDrillTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DrillUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LedModuleMountingTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MountingUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LightSolderingTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].SolderingUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LightAssemblingTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AssemblingUser)
                </th>
   
                <th>
                    @Html.DisplayNameFor(model => model[0].LightCheckingPackagingTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CheckingPackagingUser)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BitrixOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabelPrintTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabelPrintUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlProfileCutTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CutUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlProfileDrillTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrillUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LedModuleMountingTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MountingUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LightSolderingTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SolderingUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LightAssemblingTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssemblingUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LightCheckingPackagingTs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckingPackagingUser.Name)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
