@model IEnumerable<IonosLedWebMvc.Ver2.Dtos.LedLampDto>

@{
    ViewData["Title"] = "RunFilter";
}

<h2>Список выпущенных светильников</h2>
<hr />

<p><b>Период времени:</b> с @ViewBag.StartDate по @ViewBag.EndDate</p>
<p><b>Сотрудник:</b> @ViewBag.EmployeeName</p>
<p><b>Модель светильника:</b> @ViewBag.ModelName</p>

<p style="color:blue; font-size:18px">
   Всего записей получено: @Model.Count()
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitrixOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelPrintTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabelPrintUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlProfileCutTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CutUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlProfileDrillTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LedModuleMountingTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MountingUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightSolderingTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolderingUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightAssemblingTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssemblingUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightCheckingPackagingTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckingPackagingUser)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitrixOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabelPrintTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelPrintUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlProfileCutTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CutUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlProfileDrillTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrillUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LedModuleMountingTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MountingUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightSolderingTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SolderingUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightAssemblingTs)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssemblingUser)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightCheckingPackagingTs)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CheckingPackagingUser)
            </td>


        </tr>
}
    </tbody>
</table>
