@model IonosLedWebMvc.Ver2.Models.LedLamp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LedLamp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitrixOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitrixOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabelPrintTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabelPrintTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlProfileCutTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlProfileCutTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlProfileDrillTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlProfileDrillTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LedModuleMountingTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LedModuleMountingTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightSolderingTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightSolderingTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightAssemblingTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightAssemblingTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightCheckingPackagingTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightCheckingPackagingTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrillUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabelPrintUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabelPrintUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountingUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountingUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblingUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblingUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckingPackagingUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckingPackagingUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolderingUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolderingUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
